    *
    {
        margin: 0px;
        padding: 0px;
    
    }
    body
    {
        font-size: 20px;
        overflow-x: hidden;
        font-family: 'Flamenco', cursive;
        width: 100%;
        height: 100%;
        margin: 0;
    }


    header
    {
    height: 100vh;
    }
    .row{
        max-width: 1180px;
        margin: 0 auto 1px;
    }
    .logo{
        height: 80px;
        width: auto;
        /* float: left; */
        margin-top: 15px;
    }
    .main-nav{
        float: right;
        margin-top: 50px;
    }
    .main-nav li{
        display: inline-block;
        list-style: none;
        margin-left: 40px;
    }
    .main-nav li a{
        padding: 5px 0;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 200px;
        font-size: 90%;
    }
    .main-nav li a:hover
    {
        border-bottom: 5px solid #bf55ec;
    }

    .main-content-header
    {

        margin: 0px;
        padding: 0px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
    .about
    {
        height: 200vh;
        display: flex;
    }
    .about-title
    {
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin: 0!important;
    }
    .about-pages
    {
        width: 50%;
    }

    .about-pages .section-1,
    .about-pages .section-2
    {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: Black;
    }
    .about-pages div p
    {
        width: 80%;
        font-size: 18px;
        line-height: 30px;
    }
    .about-pages .section-1
    {
        background-color: rgb(56, 134, 89);
    }
    .about-pages .section-2
    {
        background-color: rgb(129, 42, 110);
    }
   

    footer
    {
        height: 50vh;
        /* display: flex;
        
        
        align-items: center;  */
        background-color: bisque;
        
    }
    .slider
    {
        width: 102%;
        height: 100vh;
        overflow: hidden;
        
    }
    .slides
    {
        width: 500%;
        height: 507px;
        display: flex;
    }
    .slides input
    {
        display: none;

    }

    .slide
    {
        width: 20%;
        transition: 2s;

    }

    .slide img
    {
        width: 100%;
        height: 120%;
    } 
    /* css for manual slide navigation */
    .navigation-manual
    {
        position: absolute;
        width: 800px;
        margin-top: 331px;
        display: flex;
        justify-content: center;
    }
    .manual-btn
    {
        border: 3px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;

    }
    .manual-btn:not(:last-child)
    {
        margin-right: 40px;
    }
    .manual-btn:hover
    { 
        background: #40D3DC;
    }

    #radio1:checked ~ .first
    {
        margin-left: 0;
    }
    #radio2:checked ~ .first
    {
        margin-left: -20%;
    }
    #radio3:checked ~ .first
    {
        margin-left: -40%;
    }
    #radio4:checked ~ .first
    {
        margin-left: -60%;
    }
    #radio5:checked ~ .first
    {
        margin-left: -80%;
    }

    /* css for automatic navigation */
    .navigation-auto
    {
        position: absolute;
        width: 1521px;
        margin-top: 536px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;

    }
    .navigation-auto div:not(:last-child)
    {
        margin-right: 42px;
    }
    #radio1:checked ~ .navigation-auto .auto-btn1
    {
        background: #40D3DC;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2
    {
        background: #40D3DC;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3
    {
        background: #40D3DC;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4
    {
        background: #40D3DC;
    }
    #radio5:checked ~ .navigation-auto .auto-btn5
    {
        background: #40D3DC;
    }

    /* sub slide scrolling */

     .container
    {
        margin: 0 auto;
        position: relative;
        width: 90%;
        height: 40%;
        padding-bottom: 5%;
        border: 1px solid white;
    }
    
    .subslide_img
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    

    .subslide_img img
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-left: 0px;
    }
/*     
#i1, #i2, #i3, #i4, #i5, #i6, #i7
{
    display: none;
} */

/* .pre, .nxt
{
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    /* background: rgba(88,88,88,.4); */
   /* z-index: 99;
    cursor: pointer;
        
} */
/* .pre
{
    left: 0;
}
.nxt
{
    right: 0;
}


.subslide_img
{
    z-index: -1;

}

#i1:checked ~ #one,
#i2:checked ~ #two, 
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven
{
    z-index: 9;
} */



/* .arrows
{   width: 18px;
   height: 18px;
   border-color: #fff;
   position: absolute;
   top: 50%;
   margin-top: 0;
}
.prev
{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 10px;
}
   
.next
{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 10px;
} */

.containers
{
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 40%;
    padding-bottom: 5%;
    border: 1px solid white;
}
.subslides_img
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.subslides_img img
    {
        width: 89%;
        height: 100%;
        position: absolute;
        margin-left: 37px;
    }

#j1, #j2, #j3, #j4, #j5, #j6, #j7
{
    display: none;
}


.subslides_img
{
    z-index: -1;

}

/*------------------------------------------------------*/
/* Slideshow container */
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/*------------------------------------------------*/
  footer
  {
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color: white;
  }
