<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admission form</title>
     style
       include ../static/style.css
  </head>
   <body>
     <form action="/" method="POST" class="container">
        <p><u>REGISTRATION FORM</u></p>
        <div class="box">
          | Name : <input type="text" name="name" class="id" id="name" placeholder="enter your name">
        </div>
        <div class="box">
          | Age :<input type="text" name="age" class="id" id="age" placeholder="entyer ur age">
        </div>
        <div class="box">
          | Caste :<input type="text" name="caste" class="id" id="caste" placeholder="enter your caste">
        </div>
        <div class="box">
          | Father's name : <input type="text" name="fathersname" class="id" id="fn" placeholder="enter your father name">
        </div>
        <div class="box">
          | Mother's name : <input type="text" name="mothersname" class="id" id="mn" placeholder="enter your mother name">
        </div>
        <div class="box">
          | Contact number: <input type="number" name="class" class="id" id="class" placeholder="enter class">
        </div>
        <div class="box">
          | Any siblings : <input type="text" name="siblings" class="id" id="siblings" placeholder="enter siblings name (if any)">
        </div>
        <input type="submit" class="btn">
     </form>
  </body>
 </html>