@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");

body{
    background-color: #EFEFEF;
    font-family: "Poppins", sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC069;
    border-radius: 25px;
    width: 50vh;
    padding: 2%;
    margin: auto;
    margin-top: 25vh;
    padding-bottom: 5vh;
}

button{
    border-radius: 25px;
    height: 5vh;
    width: 20vh;
    margin-top: 5vh;
    background-color: #A45D5D;    
}

button:hover{
    background-color: #4A403A;
    color: white;
}

h1{
    text-align: center;
}

.ffff{
    font-family: "Poppins", sans-serif;
}

.heading{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: xx-large;
    padding: 1.5vh;
    margin-top: 2vh;
    text-align: center;
    color: #4A403A;
}

.tangent{
    margin-top: 5vh;
    font-weight: 600;
    font-size: x-large;
    color: #A45D5D;
}