@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.25turn, #eb8a1d, #ebf8e1, #51b32a);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */

.main {
  position: relative;
  width: 100rem;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.left-part {
  position: absolute;
  left: 100px;
  flex: 50%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.right-part {
  position: absolute;
  right: 100px;
  flex: 50%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}
.player--active .current {
  opacity: 1;
}

.current {
  background-color: #1c1fe2;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 20px;
  text-align: center;
  transition: all 0.75s;
  margin-top: 15px;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ddd;
}

.current-score {
  font-size: 3rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-30%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 1s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
/* 
.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
} */

.btn--new {
  top: 4.5rem;
}
.btn--roll {
  top: 35.3rem;
}
.btn--hold {
  top: 42.1rem;
}

.btn--instructions {
  left: 7.5rem;
  top: 2.5rem;
  font-size: 1.2rem;
}
.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 52%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

/* MODAL WINDOW */
h2 {
  margin-bottom: 30px;
  padding: 0px 10px;
}

.main-content {
  padding: 5px;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 60px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: modal-open;
  animation-duration: 1s;
}

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
